name: .NET
on:
  push:
  pull_request:
    branches: [ master ]
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Install zip
      run: choco install zip -y

    - name: Build all releases
      shell: bash
      run: ./build-releases.sh

    - name: Upload Windows x64
      uses: actions/upload-artifact@v4
      with:
        name: EmmcHaccGen-win-x64
        path: releases/EmmcHaccGen-win-x64.zip

    - name: Upload Linux x64
      uses: actions/upload-artifact@v4
      with:
        name: EmmcHaccGen-linux-x64
        path: releases/EmmcHaccGen-linux-x64.tar.gz

    - name: Upload macOS x64
      uses: actions/upload-artifact@v4
      with:
        name: EmmcHaccGen-osx-x64
        path: |
          releases/EmmcHaccGen-osx-x64.tar.gz
          releases/EmmcHaccGen-osx-x64-app.zip

    - name: Upload macOS ARM64
      uses: actions/upload-artifact@v4
      with:
        name: EmmcHaccGen-osx-arm64
        path: |
          releases/EmmcHaccGen-osx-arm64.tar.gz
          releases/EmmcHaccGen-osx-arm64-app.zip
